.won-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff33;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
}
.heading {
  color: white;
  font-weight: 600;
}
.best-score {
  color: white;
  font-size: 22px;
  font-weight: 700;
}
.score {
  color: blue;
  font-size: 25px;
  font-weight: 650;
}
.play-again-btn {
  background-color: #ffce27;
  border-radius: 7px;
  color: black;
  font-weight: bold;
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
}
.img {
  width: 300px;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .img {
    width: 100px;
  }
  .won-card {
    width: 80%;
  }
}
